audio_recorder_streamlit==0.0.8
beautifulsoup4==4.12.2
googletrans_py==4.0.0
langchain==0.1.0
langchain_experimental==0.0.49
matplotlib==3.8.0
openai==1.7.2
pandas==2.0.3
Pillow==10.0.1
pydub==0.25.1
PyPDF2==3.0.1
python-dotenv==1.0.0
Requests==2.31.0
seaborn==0.13.1
SpeechRecognition==3.10.1
st_pages==0.4.5
streamlit==1.29.0
streamlit_authenticator==0.2.3
streamlit_extras==0.3.6
